# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / VS Code
.apt_generated/
.classpath
.factorypath
.project
.settings/
.vscode/

# Angular / Node
node/
.angular/
dist/
npm-debug.log*
frontend/.vscode/

# Sistema
*.log
.DS_Store
Thumbs.db
